# Python - Fichiers systèmes et cache
__pycache__/
*.py[cod]

# Environnement Virtuel (à la racine maintenant)
.venv/
venv/

# Variables d'environnement (Mots de passe)
.env

# Modèles IA (dans le backend)
backend/models/*.pkl
backend/models/*.joblib

# Node / React (Frontend)
node_modules/
frontend/dist/
frontend/.env
.DS_Store