# Cœur de l'API (Remplaçants de Flask) ---
fastapi
uvicorn

# Tes outils Data Science (On garde tout !) ---
pandas
scikit-learn
numpy
scipy
joblib
xgboost
shapely

# Utilitaires ---
requests
python-multipart
tqdm
folium
Flask
flask-cors
